@import './breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mochiy+Pop+P+One&family=Staatliches&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    font-family: 'Anton', sans-serif;
    max-width: 100%;
  }

.App{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}
.Arduino{
  width: 100%;
  min-height: 100vh;
  display: flex;  
  
  flex-direction: column;
  .Menu{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    width: 80vw;
    overflow: hidden;
    @include sm{
      margin-top: 30px;
    }
    &__option{
      width: 100%;
      list-style: none;
      background-color: #ddd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include sm{
        width: 480px;
      }
      @include md{
        width: 600px;
      }

      &__header{
        width: 100%;
        height: 50px;
        background-color: #ddd;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    &__text{
      display: block;
      padding-left: 5 0px;
      flex-grow: 3;
      text-align: center; 
      color: black;
      text-align: center;
      font-size: 24px;
    }
    &__icon{
      font-size: 40px;
      padding-right: 10px;
    }
    }

    .RGB{
      box-sizing: border-box;
      position: relative;
      width: 100%;
      height: 100vw;
      border-radius: 50%; 
      border: 4px solid black;
      overflow: hidden;
      transform: rotate(15deg) scale(0.9);
      @include sm{
        width: 400px;
        height: 400px;
      }
      &__Triangle{
        position: absolute;
        left: calc(50% - 24.5vw);
        top:50%;
        width: 0; 
        height: 0; 
        border-top: 14vw solid transparent;
        border-bottom: 14vw solid transparent;
        border-left: 50vw solid green;
        z-index: 0;
        
        &--red{ 
          border-left-color : rgb(255,0,0);
          transform-origin: top;
          transform : rotate(90deg) translate(-50%, -50%);
        }
        &--rose{
          border-left-color : rgb(255,0,128);
          transform-origin: top;
          transform : rotate(120deg) translate(-50%, -50%);
        }
        &--magenta{
          border-left-color : rgb(255,0,255);
          transform-origin: top;
          transform : rotate(150deg) translate(-50%, -50%);
        }
        &--violet{
          border-left-color : rgb(128,0,255);
          transform-origin: top;
          transform : rotate(180deg) translate(-50%, -50%);
        }
        &--blue{
          border-left-color : rgb(0,0,255);
          transform-origin: top;
          transform : rotate(210deg) translate(-50%, -50%);
        }
        &--azure{
          border-left-color : rgb(0,128,255);
          transform-origin: top;
          transform : rotate(240deg) translate(-50%, -50%);
        }
        &--cyan{
          border-left-color : rgb(0,255,255);
          transform-origin: top;
          transform : rotate(270deg) translate(-50%, -50%);
        }
        &--spring_green{
          border-left-color : rgb(0,255,128);
          transform-origin: top;
          transform : rotate(300deg) translate(-50%, -50%);
        }
        &--green{
          border-left-color : rgb(0,255,0);
          transform-origin: top;
          transform : rotate(330deg) translate(-50%, -50%);
        }
        &--chartreuse{
          border-left-color : rgb(128,255,0);
          transform-origin: top;
          transform : rotate(0deg) translate(-50%, -50%);
        }
        &--yellow{
          border-left-color : rgb(255,255,0);
          transform-origin: top;
          transform : rotate(30deg) translate(-50%, -50%);
        }
        &--orange{
          border-left-color : rgb(255,128,0);
          transform-origin: top;
          transform : rotate(60deg) translate(-50%, -50%);
        }
      }
      &__Wheel{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-15deg);
        width: 50%;
        height: 50%;
        border-radius: 50%;
        border: 3px solid black;
        z-index: 1;
        overflow: hidden;
        box-sizing: border-box;
        &__Actual{
          background-color: black;
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: scaleY(1.1);
        }
        &__Status{
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: scaleY(1.1);
          &--ON{
            font-family: 'Anton', sans-serif;
            color: white;
            text-align: center;
            font-size: 48px;
          } 
          &--OFF{
            font-family: 'Anton', sans-serif;
            color: black;
            text-align: center;
            font-size: 48px;
          } 
        }
      }
    }
    .TempAndHum{
      width: 80%;
      // height: calc(100vh - 100px);
      @include md{
        height: 80%;
      }
      canvas{
        padding: 10px;
      }
      &__temp{
        display: flex;
        padding: 0 40px 0 40px;
        justify-content: center;
        align-items: center ;
        &__icon{
          padding: 20px;
          font-size: 34px;
          color: red;
        }
        &__text{
          font-size: 26px;
        }
      }
      &__hum{
        display: flex;
        padding: 0 40px 0 40px;
        justify-content: center;
        align-items: center ; 
        &__icon{
          padding: 20px;
          font-size: 34px;
          color: blue;
        }
        &__text{
          font-size: 26px;
        }
      }
    } 
  }


  
} 