@import url("https://fonts.googleapis.com/css2?family=Anton&family=Mochiy+Pop+P+One&family=Staatliches&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-family: 'Anton', sans-serif;
  max-width: 100%;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.Arduino {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Arduino .Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  overflow: hidden;
}

@media (min-width: 480px) {
  .Arduino .Menu {
    margin-top: 30px;
  }
}

.Arduino .Menu__option {
  width: 100%;
  list-style: none;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 480px) {
  .Arduino .Menu__option {
    width: 480px;
  }
}

@media (min-width: 720px) {
  .Arduino .Menu__option {
    width: 600px;
  }
}

.Arduino .Menu__option__header {
  width: 100%;
  height: 50px;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Arduino .Menu__option__text {
  display: block;
  padding-left: 5 0px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  text-align: center;
  color: black;
  text-align: center;
  font-size: 24px;
}

.Arduino .Menu__option__icon {
  font-size: 40px;
  padding-right: 10px;
}

.Arduino .Menu .RGB {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  border: 4px solid black;
  overflow: hidden;
  -webkit-transform: rotate(15deg) scale(0.9);
          transform: rotate(15deg) scale(0.9);
}

@media (min-width: 480px) {
  .Arduino .Menu .RGB {
    width: 400px;
    height: 400px;
  }
}

.Arduino .Menu .RGB__Triangle {
  position: absolute;
  left: calc(50% - 24.5vw);
  top: 50%;
  width: 0;
  height: 0;
  border-top: 14vw solid transparent;
  border-bottom: 14vw solid transparent;
  border-left: 50vw solid green;
  z-index: 0;
}

.Arduino .Menu .RGB__Triangle--red {
  border-left-color: red;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(90deg) translate(-50%, -50%);
          transform: rotate(90deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--rose {
  border-left-color: #ff0080;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(120deg) translate(-50%, -50%);
          transform: rotate(120deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--magenta {
  border-left-color: magenta;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(150deg) translate(-50%, -50%);
          transform: rotate(150deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--violet {
  border-left-color: #8000ff;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(180deg) translate(-50%, -50%);
          transform: rotate(180deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--blue {
  border-left-color: blue;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(210deg) translate(-50%, -50%);
          transform: rotate(210deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--azure {
  border-left-color: #0080ff;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(240deg) translate(-50%, -50%);
          transform: rotate(240deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--cyan {
  border-left-color: cyan;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(270deg) translate(-50%, -50%);
          transform: rotate(270deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--spring_green {
  border-left-color: #00ff80;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(300deg) translate(-50%, -50%);
          transform: rotate(300deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--green {
  border-left-color: lime;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(330deg) translate(-50%, -50%);
          transform: rotate(330deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--chartreuse {
  border-left-color: #80ff00;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(0deg) translate(-50%, -50%);
          transform: rotate(0deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--yellow {
  border-left-color: yellow;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(30deg) translate(-50%, -50%);
          transform: rotate(30deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Triangle--orange {
  border-left-color: #ff8000;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotate(60deg) translate(-50%, -50%);
          transform: rotate(60deg) translate(-50%, -50%);
}

.Arduino .Menu .RGB__Wheel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-15deg);
          transform: translate(-50%, -50%) rotate(-15deg);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 3px solid black;
  z-index: 1;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Arduino .Menu .RGB__Wheel__Actual {
  background-color: black;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.Arduino .Menu .RGB__Wheel__Status {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.Arduino .Menu .RGB__Wheel__Status--ON {
  font-family: 'Anton', sans-serif;
  color: white;
  text-align: center;
  font-size: 48px;
}

.Arduino .Menu .RGB__Wheel__Status--OFF {
  font-family: 'Anton', sans-serif;
  color: black;
  text-align: center;
  font-size: 48px;
}

.Arduino .Menu .TempAndHum {
  width: 80%;
}

@media (min-width: 720px) {
  .Arduino .Menu .TempAndHum {
    height: 80%;
  }
}

.Arduino .Menu .TempAndHum canvas {
  padding: 10px;
}

.Arduino .Menu .TempAndHum__temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Arduino .Menu .TempAndHum__temp__icon {
  padding: 20px;
  font-size: 34px;
  color: red;
}

.Arduino .Menu .TempAndHum__temp__text {
  font-size: 26px;
}

.Arduino .Menu .TempAndHum__hum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Arduino .Menu .TempAndHum__hum__icon {
  padding: 20px;
  font-size: 34px;
  color: blue;
}

.Arduino .Menu .TempAndHum__hum__text {
  font-size: 26px;
}
/*# sourceMappingURL=style.css.map */